.container {
  width: 100%;
  height: 100%;
}

.content {
  padding: 20px;
  overflow: scroll;
}

.actions-container {
  position: relative;
  padding: 24px 0px;
}
.actions-container > * {
  margin: 8px 0px;
}

.action-icon,
.page-number {
  margin: 0px 8px;
  color: #ffc700;
  cursor: pointer;
}

.page-number {
  width: 24px;
  height: 24px;
}
.page-number.active {
  color: #fff;
  background-color: #ffc700;
  border-radius: 50%;
}

.sequence-info {
  position: absolute;
  right: 40px;
  color: #666;
  font-size: 14px;
}

@media screen and (max-width: 800px) {
  .sequence-info {
    position: static;
  }
}
