.content {
  width: 80%;
  min-height: 0px;
  margin: 0 auto;
}

.actions-container {
  width: 100%;
  padding: 14px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.actions-container > * {
  margin: 14px 0px;
}

.food-items-list-container {
  min-height: 0px;
}

@media screen and (max-width: 1200px) {
  .actions-container {
    flex-direction: column;
    align-items: flex-start;
  }
}
