.container {
  border: 1px solid #ffc700;
  border-radius: 5px;
}

.category {
  padding: 8px 16px;
  color: #ffc700;
  cursor: pointer;
}
.category.selected {
  color: #fff;
  background-color: #ffc700;
}
